.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.Container {
  justify-content: center;
}

.Top10Table {
  border: 0px solid black;
  max-width: 350px;
  margin: 0 auto;
  flex-wrap: wrap;
  transition: all 70ms ease-in;
  transform: scale(1);
}

.Top10Table:hover{
  transform: scale(1.03);
}

.Search {
  margin: auto;
  width: 200px;
  border: 0px solid green;
  padding: 10px;
}

.SearchResults-appear{
  opacity: 0.01;
  transform: translateY(-25px) scale(0.8);
}

.SearchResults-appear.SearchResults-appear-active{
  opacity: 1;
  transform: translateY(0px) scale(1);
  transition: all 0.1s ease-out;
}

.SearchResults-leave{
  opacity: 1;
  transform: translateY(0px) scale(1);
  transition: all 0.1s ease-out;
}

.SearchResults-leave-active{
  opacity: 0.01;
  transform: translateY(-25px) scale(0.8);
}

.AllTimeAnim-appear{
  opacity: 0.01;
  transform: translateY(200px);
}

.AllTimeAnim-appear.AllTimeAnim-appear-active{
  opacity: 1;
  transform: translateX(0px);
  transition: all 0.3s ease-out;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
